[submodule "submodules/KafkaProducerConsumer"]
	path = submodules/KafkaProducerConsumer
	url = https://github.com/RasmusWind/KafkaProducerConsumer
[submodule "submodules/Csharp-Consumers"]
	path = submodules/Csharp-Consumers
	url = https://github.com/Cordsenboyz/Csharp-Consumers.git
[submodule "submodules/ckafprod"]
	path = submodules/ckafprod
	url = https://github.com/kivkiv12345/ckafprod.git
